body {
    font-family: Arial, sans-serif;
    direction: rtl;
}

.red-text {
    color: red;
}

.container {
    max-width: 25%;
    margin: auto;
    padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

label {
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;

}

#parasha_name {
    width: 80%;
	height: 30px;
	margin-bottom: 20px;
	font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #E29042;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
	margin-left: 30px;
	margin-right: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* border-bottom: 2px solid #4A90E2; */
    /* padding-bottom: 10px; */
    display: inline-block;
    background-color: #F0F0F0;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: color 0.3s ease, transform 0.3s ease; */
}





.buttons {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.reader-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
	height : 10px;
    margin-bottom: 10px;
}

.reader-item button {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.remove-reader-button {
    float: right; /* או left אם תרצה להעביר לצד שמאל */
}

#add-reader-btn {
    background-color: #f0f0f0;
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.parasha-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
	height : 10px;
    margin-bottom: 10px;
}

.parasha-item button {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

#add-parasha-btn {
    background-color: #f0f0f0;
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}





